/* Reset */
html, body, p, blockquote, pre,
a, abbr, acronym, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
strike, strong, sub, sup, tt, var,
b, u, i,
ol, ul, li,
fieldset, form, label, legend,
article, aside,  footer, header, hgroup, 
menu, nav, output, ruby, section, button, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Helvetica Neue", sans-serif;
}
ol, ul { list-style: none; }
html { min-height: 100%; position: relative; }
body { overflow: auto; }

/* Hide Selection */
::selection{ background: rgba(0,0,0,0); }
/* Scrollbars */
::-webkit-scrollbar { width: 20px; height: 20px; }
::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb { border-radius: 999px; border: 8px solid transparent; }
::-webkit-scrollbar-thumb { min-height: 20px; box-shadow: 0 0 0 8px rgba(0,0,0,.5) inset; }
::-webkit-scrollbar-corner { background: transparent; }

/* Editor */
.editor,
.view {
	background-color: rgb(242,242,242);
	position: absolute;
	left: 0; 
	top: 0; 
	bottom: 0;
	right: 0;
	overflow: auto;
}
	.view {
		top: 32px;
		bottom: 32px;
		right: 2px;
		overflow-y: scroll;
	}
	
	/* Header */
	header,
	footer {
		position: absolute;
		height: 32px;
		width: 100%;
		color: #CCC;
		text-align: center;
		font: 12px/12px 'lucida grande';
	}

	header { top: 0; }
	footer { bottom: 0; }

	header span,
	footer span { display: inline-block; padding: 10px 0; }
	header span { font-weight: bold; }

	header:before,
	footer:before {
		position: absolute;
		display: block;
		content: "";
		width: 100%;
		height: 8px;
		z-index: 10;
		background: -webkit-linear-gradient(rgba(242,242,242,1), rgba(242,242,242,0));
		top: 32px;
		right: 20px;
	}

	footer:before { top: -8px; background: -webkit-linear-gradient(rgba(242,242,242,0),rgba(242,242,242,1)); }

	/* Wrapper */
	.wrapper { width: 832px; margin: 0 auto; }
		.body { position: relative; }

		/* Measure */
		.measure {
			position: absolute;
			width: 100%;
			height: 0;
			overflow: hidden;
			visibility: hidden;
		}
			.measure * { display: inline-block; }

		/* Cursor */
		.cursor {
			background-color: #00BAFF;
			display: block;
			position: absolute;
			width: 3px;
			height: 32px;
			top: -32px;
			left: 0;
			z-index: 15;
		}

		/* Selection */
		mark {
			position: absolute;
			display: inline-block;
			min-height: 32px;
			background-color: rgba(0, 186, 255, 0.2);
		}

		/* Textarea */
		.input {
			display: block;
			top: 0;
			left: 0;
			position: absolute;
			width: 1px;
			height: 34px;
			outline: none;
			border: 0;
			opacity: 0;
			z-index: -1;
		}

		/* Content */
		p, .focusmode .active { color: #424242; }
		p, p * {
			position: relative;
			font: 21px/32px "Courier New";
			min-height: 32px;
			word-wrap: break-word;
			white-space: pre-wrap;
		}

			/* Tab size */
			.tab { font-size: 14px; line-height: 0; }

			/* Style */
			strong { font-weight: bold; }
			em, .focusmode .active em { border-bottom: 2px solid #424242; }
			del { text-decoration: none; }
			del:before, .focusmode .active del:before {
				display: block;
				content: "";
				width: 100%;
				top: 50%;
				position: absolute;
				border-bottom: 2px solid #424242;
			}
			.todo { cursor: pointer; }

/* Focus Mode */
.focusmode p { color: #CCC; }
.focusmode em, .focusmode del:before { border-bottom: 2px solid #CCC; }
